<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head') %>
<body>
    <%-include ('../partials/header') %> <!-- importando header -->
    <main class="detalleProducto">
        <section class="imagenDetalle">
            <img src="/images/dbProductos/<%= lista.imagen %>" alt="">
        </section>
        <section class="descripcionDetalle">
            <form class="formCompra" action="comprar">
                <h2><%= lista.titulo %></h2>
                <h3><%= lista.descripcion %></h3>
                <label for="precio">$<%= lista.precio %></label>
                <input type="hidden" name="precio" value="<%= lista.precio %>">

                <div class="listas">
                    <label for="cantidad">Cantidad:</label>
                    <input type="number" class="cantidad" name="cantidad" id="cantidad" min="0">         
                </div>
                <div id="detalleColor">
                    <label for="colores">Colores disponibles:</label>
                    <div id="listaColores">
                        <% lista.colores.forEach(color => {  %>
                            <a href="#" style="background-color:<%= color %>;" ></a>
                        <% } ) %>
                    </div>

                    
                </div>
                   <input type="submit" name="comprar" value="Añadir Carrito">
            </form> <!-- formulario de aceptacion de compra -->
                        
           
        </section>
        
    </main>
    <%-include ('../partials/footer') %> <!-- importando footer -->
</body>
</html>