<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head') %>
<body>
<%-include ('../partials/header') %> <!-- header importado -->
 <main class="mainProductos">
    <% lista.forEach(item => { %> <!-- codigo js para rcorrer el objeto enviado en el controlador -->
     <article>
         
        <img src="/images/dbProductos/<%= item.imagen %>" alt=""><!-- imagen del articulo -->

        <div class="vermas">
            <p class="titulo"><%= item.titulo %></p>
            <p class="precio">COP$<%= item.precio %></p>
            <a href="/detalleProducto/<%= item.id %>"> Detalles </a>
            
        </div><!-- Caja desplegable de cada articulo, par aver descripcion rapida -->
        
     </article><!-- vista de cada articulo -->
     <% }); %><!-- cierre codigo js anterior -->
    

 </main>
 <%-include ('../partials/footer') %> <!-- footer importado -->
</html>