<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head') %>
<body>
<%-include ('../partials/header') %> <!-- header importado -->
 <main class="mainListaProductos">
    <% lista.forEach(item => { %> <!-- codigo js para rcorrer el objeto enviado en el controlador -->
     <article>         
        <img src="/images/dbProductos/<%= item.imagen %>" alt=""><!-- imagen del articulo -->
            <div class="vermas">
                <div class="descripcionMas">
                 <p><%= item.nombre %></p>
                 <p>COP$<%= item.descripcion %></p>
                </div>

                <button><a href="/detalleProducto/<%= item.id %>"> Detalles </a></button>
            
            </div><!-- Caja desplegable de cada articulo, par aver descripcion rapida -->
        
     </article><!-- vista de cada articulo -->
     <% }); %><!-- cierre codigo js anterior -->
    

 </main>
 <%-include ('../partials/footer') %> <!-- footer importado -->
</html>