<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Configuración de carpeta para diseños CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /><!-- Link para obtener iconos de la pagina enlazada, para agregar se debe ver la sintaxis que muetsra la pagina -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle producto</title>
</head>
<body>
    <%-include ('./partials/header') %>
    <main class="detalleProducto">
        <section class="imagenDetalle">
            <img src="/images/dbProductos/<%= lista.img %>" alt="">
        </section>
        <section class="descripcionDetalle">
            <form class="formCompra" action="comprar">
                <h2><%= lista.titulo %></h2>
                <h3><%= lista.descripcion %></h3>
                <label for="precio">$<%= lista.precio %></label>
                <input type="hidden" name="precio" value="<%= lista.precio %>">

                <div class="listas">
                    <label for="cantidad">Cantidad:</label>
                    <select class="cantidad" name="cantidad" id="cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                   </select>           
                </div>
                   <input type="submit" name="comprar" value="Añadir Carrito">
            </form>
            <div class="botones">
                <form class="formCompra"  action="/admin/editar-producto/<%= lista.referencia %>">
                    <input class="edit" type="submit"  value="Editar Producto">
                </form>
                <form class="formCompra" action="/admin/borrar-producto/<%= lista.referencia %>?_method=delete" method="POST">
                    <input  class="delete" type="submit"  value="Borrar Producto">
                </form>
            </div>
            
           
        </section>
        
    </main>
    <%-include ('./partials/footer') %>
</body>
</html>