<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Configuraci칩n de carpeta para dise침os CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /><!-- Link para obtener iconos de la pagina enlazada, para agregar se debe ver la sintaxis que muetsra la pagina -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%- include ('./partials/header') %>
    <main class="mainCrearProducto">
        <section class="imagen-edit">
            <img src="/images/dbProductos/<%= toEdit.imagen %>" alt="">
        </section>
        <h1>Complete los datos del nuevo producto</h1>
        <form action="/admin/editar/<%= toEdit.id %>?_method=patch" method="POST" enctype="multipart/form-data" > <!-- enctype="multipart/form-data"> --> <!-- Usar esta config cuando se va a subir imagenes en el form sino se puede quitar el elemento o configurar  enctype="application/x-www-form-urlencoded"  para solo texto -->            
            <div>
                <label for="titulo">Nombre</label>
                <input type="text" id="titulo" name="titulo"  value="<%= toEdit.titulo %>"  >
            </div>
            <div>
                <label for="descripcion">Descripci칩n</label>
                <input type="text" id="descripcion" name="descripcion"  value="<%= toEdit.descripcion %>"  >
            </div>
            <div>
                <label for="precio">Precio</label>
                <input type="text" id="precio" name="precio" value="<%= toEdit.precio %>"  >
            </div>
            <div>
                <label for="imagen">Imagen de descripci칩n</label>
                <input type="file" id="imagen" name="imagen" placeholder="Ingrese imagen de referencia" >
            </div>
            <div >
                <input type="submit" value="Guardar">
            </div>

            
            
        </form>
    </main>
    <%- include ('./partials/footer') %>
    </body>
</html>