<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Configuración de carpeta para diseños CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /><!-- Link para obtener iconos de la pagina enlazada, para agregar se debe ver la sintaxis que muetsra la pagina -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
<%-include ('./partials/header') %>
 <main class="mainProductos">
    <% lista.forEach(item => { %>
     <article>
         
        <img src="/images/dbProductos/<%= item.imagen %>" alt="">
        <div class="vermas">
            <p class="titulo"><%= item.titulo %></p>
            <p class="precio">COP$<%= item.precio %></p>
            <a href="/detalleProducto/<%= item.id %>"> Detalles </a>
            
        </div>
        
     </article>
     <% }); %>
    

 </main>
 <%-include ('./partials/footer') %>
</body>
</html>