<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head') %>
<body>
    <%- include ('../partials/header') %> <!-- importando header -->
    <main class="mainCrearProducto">
        <section id="imagenVieja" class="imagen-edit">
            <img id="imagenVieja" src="/images/dbProductos/<%= toEdit.imagen %>" alt="">
        </section>
        <h1>Complete los datos del nuevo producto</h1>
        <form action="/admin/editar/<%= toEdit.id %>?_method=patch" id="formCrearProducto" method="POST" enctype="multipart/form-data" > <!-- enctype="multipart/form-data"> --> <!-- Usar esta config cuando se va a subir imagenes en el form sino se puede quitar el elemento o configurar  enctype="application/x-www-form-urlencoded"  para solo texto -->            
            <div>
                <label for="titulo">Nombre</label>
                <input type="text" id="titulo" name="titulo"  value="<%= toEdit.nombre %>"  >
            </div>
            <div>
                <label for="descripcion">Descripción</label>
                <input type="text" id="descripcion" name="descripcion"  value="<%= toEdit.descripcion %>"  >
            </div>
            <div>
                <label for="precio">Precio</label>
                <input type="text" id="precio" name="precio" value="<%= toEdit.precio %>"  >
            </div>
            <div>
                <label for="material">Material</label>
                <input type="text" id="material" name="material"  placeholder="Ingrese material de producto" value="<%= toEdit.material.tipo_material%>">
               
            
            </div>
            <div>
                <label for="colores">Colores</label>
                 <input type="text" id="colores" name="colores" value="<%= toEdit.colores%>" >
            </div>
            <div>
                <label for="imagen">Imagen de descripción</label>
                <input  type="file" id="imagen" name="imagen" >
                <input style="display: none;" id="imagenVieja" name="imagenVieja" type="text" disabled value="<%= toEdit.imagen%>">
            </div><!-- caja de carga de archivos -->
            <div id="guardar">
                <input id="crearProducto" type="submit" value="Guardar">
            </div> <!-- caja botones -->
        </form><!-- formulario de edicion de productos -->
    </main>
    <%- include ('../partials/footer') %> <!-- importando footer -->
    </body>
</html>